.App{
    height: 100%;
    width: 100%; 
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
input{
  padding: 0.4em 0.5rem;
}
button{
  padding: 0.5rem 2rem;
  margin: 1rem 0;

}
