.profile {
    height: 350px;
    width: 60%;
    box-shadow: 0 0 10px black;
    display: flex;

}

.profileLeft {
    width: 40%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileRight {
    width: 60%;
    /* border: 2px solid green; */
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
/* .name input{
    color: blue;
}
.checkbox input{
    color: blue;
} */
.btn button{
    padding: 0.5rem 1rem;
    background-color: blue;
    color: white;
    border: none;
}